extends pug/root.pug

block body
  #app
    .hero
      .hero-icon
        i.fa.fa-diamond
      h1= "Hello"
      p#desc
      .btn-group(role="group")
        a.btn.btn-default(href="/", role="button") AWAKE
        a.btn.btn-default(href="/hello.html", role="button") Hello
        a.btn.btn-default(href="/hoge.html", role="button") Hoge
