extends pug/root.pug

block body
  #app
    .hero
      .hero-icon
        i.fa.fa-angle-double-up
      h1= htmlWebpackPlugin.options.title
      p#desc
      .btn-group(role="group")
        a.btn.btn-default(href="./", role="button") AWAKE
        a.btn.btn-default(href="./hello.html", role="button") HELLO
        a.btn.btn-default(href="./world.html", role="button") WORLD
