<html>
<head>
  <title>My Site</title>
  <link rel="stylesheet" href="stylesheets/all.css">
</head>
<body>
  <%= yield %>
  
  <script src="javascripts/all.js"></script>
  <%= google_analytics_universal_tag %>
</body>
</html>